body {
	background-color: #505050
}

.container {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 25% auto 25%;
}

.box {
	background-color: rgb(144, 144, 144);
	border-radius: 10px;
    box-shadow: 7px 7px 6px black;
}

#top {
	grid-column: 2/6;
	height: 175px;
	margin-top: 15px;
}

.logo {
	grid-column: 3/6;
	grid-row: 1;
}

#day-of-42 {
	width: 35%;
	margin-top: 10px;
	margin-left: 10px;
}

.glass {
	grid-column: 5/6;
	grid-row: 1;
}