body {
	background-color: rgb(80, 80, 80);
}

.box {
	background-color: rgb(144, 144, 144);
	border-radius: 10px;
    box-shadow: 7px 7px 6px black;
	margin: 10px 10px;
	text-align: center;
}

#header {
	position: absolute;
	width: 78%;
	height: 100px;
	margin: 10px 11% 10px 11%;
}

#logo {
	width: 50%;
	margin-left: 5px;
	margin-top: 8px;
}

#day-of-42 {
	height: 80px;
	float: left;
}

#magnifying-glass {
	position: absolute;
	height: 100px;
	margin-left: 150px;
	margin-top: 3px;
}

.close {
	float: right;
	clear: left;
	margin-top: -8px;
}

.reload {
	float: right;
}

#icon-close {
	width: 15px;
	margin-right: 5px;
}

#icon-reload {
	width: 15px;
	margin-right: 5px;
}

#header:after {
	content: "";
	display: table;
	clear: both;
}

.columns {
	display: block;
	width: 80vw;
	/* margin-left: auto;
	margin-right: auto; */
	padding-top: 16vh;
	margin-left: 20vh;
	margin-right: 20vh;
	text-align: center;
}

/* Left Navigation Menu */

#left-nav-menu {
	/* position: absolute; */
	/* height: 500px;
	width: 150px; */
	float: left;
	clear: left;
	width: 7.5vw;
	height: 43vh;
	margin-left: 2vw;
	/* margin-right: 1vw; */
}

#left-icon {
	/* width: 60px; */
	width: 3.8vw;
	margin-top: -1vh;
	margin-bottom: -1.5vh;
}

#left-icon-eye {
	width: 3.9vw;
	margin-top: .5vh;
	border: 3px solid red;
	border-radius: 5px;
}

/* Center Column */

#center {
	position: relative;
	display: block;
	float: left;
	clear: none;
	width: 53vw;
	height: 56vh;
	text-align: center;
	position: relative;
	z-index: -1;
}

#lab {
	position: absoluate;
	width: 51vw;
	margin-left: 1vw;
	margin-right: 1vw;
	margin-top: 1.3vh;
}

/* Right Navigation Menu */

#right-nav-menu {
	/* position: absolute; */
	/* height: 500px;
	width: 150px; */
	float: left;
	clear: right;
	width: 7.5vw;
	height: 40vh;
	/* margin-left: 1.2vw; */
}

#right-icon {
	width: 3.7vw;
	margin-top: -1vh;
	margin-bottom: -2vh;
}

#right-icon-brick {
	width: 2vw;
	/* margin-top: 1.5vh; */
}

div.columns:after {
	content: "";
	display: table;
	clear: both;
}

/* Response Box */

#response-box {
	display: box;
    background-color: rgb(140, 253, 142);
    border-radius: 10px;
    box-shadow: 7px 7px 6px black;
	width: 28vw;
	height: 15vh;
	/* padding-top: -8.5vh; */
	/* padding-left: 8vw;  */
	margin-top: -10vh;
	margin-left: 8vw;
}

#response {
	float: left;
}

#response-text {
	text-align: left;
	padding: 0px 0px;
	font-family: Helvetica, sans-serif;
	font-size: 13px;
}

#input-field {
	width: 20vw;
}